[submodule "seqan3"]
	path = lib/seqan3
	url = ../../seqan/seqan3.git
	branch = master
[submodule "BAMIntervalTree"]
	path = lib/BAMIntervalTree
	url = ../../joshuak94/BAMIntervalTree.git
	branch = master
[submodule "biocpp-core"]
	path = lib/biocpp-core
	url = ../../biocpp/biocpp-core.git
	branch = main
[submodule "biocpp-io"]
	path = lib/biocpp-io
	url = ../../biocpp/biocpp-io.git
	branch = main
