[submodule "seqan3"]
	path = lib/seqan3
	url = ../../seqan/seqan3.git
	branch = master
[submodule "BAMIntervalTree"]
	path = lib/BAMIntervalTree
	url = ../../joshuak94/BAMIntervalTree.git
	branch = master
[submodule "b.i.o."]
	path = lib/b.i.o.
	# url = ../../h-2/b.i.o..git
	url = ../../eseiler/b.i.o..git
	branch = master
