[submodule "seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "lib/BAMIntervalTree"]
	path = lib/BAMIntervalTree
	url = git@github.com:joshuak94/BAMIntervalTree.git
	branch = master
